<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pauni.quickclip">
    <uses-sdk
        android:maxSdkVersion="24" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/top"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">    

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="pauni.quickclip.BackgroundService"
            android:exported="false">
        </service>
        <service
            android:name="pauni.quickclip.SetClipboard"
            android:exported="false">
        </service>
        <service
            android:name="pauni.quickclip.OpenURL"
            android:exported="false">
        </service>
    </application>
</manifest>